@model BeautySaloon.DAL.Entity.HeaderSettingsEntity

@{
Layout = null;
}
<html lang="ru">

@await Html.PartialAsync("Admin/_AdminHeadPartial")

@await Html.PartialAsync("Admin/_AdminHeaderPartial")

<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h2>Настройки сайта</h2>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" asp-action="EditHeader">
        <div class="row mb-3">
            <div class="col-12">
                <label for="siteName" class="form-label">Название сайта:</label>
                <input type="text" id="siteName" name="SiteName" class="form-control" value="@Model.SiteName" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="backgroundImage" class="form-label">Выбор изображения заднего фона:</label>
                <input type="file" id="backgroundImage" name="BackgroundImageFile" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="siteColor" class="form-label">Цвет сайта:</label>
                <input type="color" id="siteColor" name="ColorHeader" class="form-control form-control-color" value="@Model.ColorHeader"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
