<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Добавить событие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <input type="hidden" id="eventId" name="eventId">
                    <div class="form-group">
                        <label for="userSelect">Пользователь</label>
                        <select class="form-control" id="userSelect" required></select>
                    </div>
                    <div class="form-group">
                        <label for="serviceSelect">Услуга</label>
                        <select class="form-control" id="serviceSelect" required></select>
                    </div>
                    <div class="form-group">
                        <label for="startTime">Время начала</label>
                        <input type="time" class="form-control" id="startTime" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeEventButton" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" id="deleteEventButton">Удалить</button>
                <button type="button" class="btn btn-primary" id="saveEventButton">Сохранить</button>
            </div>
        </div>
    </div>
</div>
