<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">ПАНЕЛЬ АДМИНИСТРАТОРА</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href=@Url.Action("Index", "AdminUser") class="nav-link 
@(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminUser" ? "active" : "")
">Пользователи</a></li>
        <li class="nav-item"><a href=@Url.Action("Index", "AdminService") class="nav-link 
@(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminService" ? "active" : "")
">Услуги</a></li>
        <li class="nav-item"><a href=@Url.Action("Index", "AdminPromotion") class="nav-link 
@(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminService" ? "active" : "")
">Акций</a></li>
        <li class="nav-item"><a href=@Url.Action("Index", "AdminSchedule") class="nav-link 
@(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminService" ? "active" : "")
">Расписание</a></li>
    </ul>
</header>