@{
  Layout = null;
}
<html lang="ru">

@await Html.PartialAsync("Admin/_AdminHeadPartial")

<body>

@await Html.PartialAsync("Admin/_AdminHeaderPartial")

<main>
  // Количество зарегистрированных пользователей
  // Количество записей за месяц/ неделя/ день
</main>
</body>